@import "tailwindcss";

:root {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}